 {
     "FRC_username": "",
     "FRC_key": "",
     "Twitch_clientID": "",
     "Twitch_clientSecret": "",
     "Youtube_API_Key": "",
     "Youtube_Channel_ID": "",
     "FTC_username": "",
     "FTC_key": ""
 }